@import '../../setting.scss';
.board-contents {
    height: $board-content-height;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    gap: $gap;
    // margin: 0 $gap $gap;
    &::-webkit-scrollbar {
        -webkit-appearance: none;
    }
    &::-webkit-scrollbar:horizontal {
        height: 12px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: darken($mainColor, 15);
        border-radius: $gap;
        -webkit-border-radius: $gap;
        -moz-border-radius: $gap;
        -ms-border-radius: $gap;
        -o-border-radius: $gap;
    }
    .cards-drop-preview {
        background-color: rgba(150, 150, 200, 0.1);
        border: 1px dashed #abc;
        margin: 5px 45px 5px 5px;
    }
    .add-new-column {
        width: 250px;
        height: 32px;
        line-height: 32px;
        padding: 4px 0 4px 15px;
        cursor: pointer;
        color: white;
        margin-left: $gap;
        font-size: 15px;
        background-color: hsla(0, 0%, 100%, .24);
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        &:hover {
            background-color: hsla(0, 0%, 100%, .34);
        }
    }
    .form-input {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .input-new-column {
            outline: none;
            line-height: 32px;
            padding: 4px 0 4px 15px;
            width: 250px;
            font-weight: 600;
            max-width: 250px;
            background-color: rgba(255, 255, 255, 0.815);
            border: none;
            color: rgb(29, 26, 26);
            border-radius: 5px;
            margin-left: $gap;
            font-size: 15px;
            &::placeholder {
                color: rgba(29, 26, 26, 0.63);
                font-size: 15px;
            }
        }
        .btn-add {
            cursor: pointer;
            width: 100px;
            color: rgba(29, 26, 26, 0.63);
            font-weight: 600;
            margin-left: 10px;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            border: none;
            padding: 12px 10px;
        }
        .cancle_column {
            color: red;
            margin-left: 10px;
            font-weight: bold;
            cursor: pointer;
        }
    }
}