// @import "~bootstrap/scss/bootstrap";
@import 'setting.scss';
body {
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
    font-style: 15px;
    line-height: 1.3em;
}

.app-trello-quypham {
    height: 100vh;
    overflow: hidden;
    background-color: $mainColor;
    .icon {
        font-size: 14px;
        margin-right: 3px;
    }
}

.trelo-content-editable {
    outline: none;
    font-weight: inherit;
    background-color: inherit;
    border: none;
    color: rgb(29, 26, 26);
    border-radius: 5px;
    font-size: inherit;
    cursor: pointer;
    &:focus{
        background-color: #ffffff;
        border: 1px solid #ccc;
        padding: 5px 3px;
    }
}