@import '../../setting.scss';
.column {
    flex: 0 0 auto;
    width: 300px;
    height: calc(#{$board-content-height} - 20px);
    margin-left: $gap;
    >* {
        background-color: #ebecf0;
        color: #333;
        padding: 0 8px;
    }
    header {
        cursor: pointer;
        padding-left: 15px;
        height: 36px;
        line-height: 36px;
        font-size: 16px;
        font-weight: bold;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        display: flex;
        .column-title{
            flex: 90%;
        }
        .column-dropdown-action{
            flex: 10%;
            .option-dropdown{
                position: absolute;
                z-index: 9;
                min-width: 300px;
                background: #fff;
                border-radius: 3px;
                border: 1px solid #ccc;
                overflow: hidden;
                ul{
                    list-style-type: none;
                    padding: 10px;
                    margin: 0;
                    font-weight: 500;
                    color: #000000;
                    li{
                        padding-left: 5px;
                        &:hover{
                            background-color: #ebecf0;
                        }
                    }
                    li:first-child{
                        font-weight: 600;
                        border-bottom: 1px solid #000;
                        &:hover{
                            background-color: #ffffff;
                        }
                    }

                }
            }
        }
    }
    footer {
        padding-left: $gap;
        height: 36px;
        line-height: 36px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        color: #888;
        .footer-actions {
            margin-left: $gap;
            &:hover {
                color: #333;
                cursor: pointer;
                transition: all 0.25s ease-in;
                -webkit-transition: all 0.25s ease-in;
                -moz-transition: all 0.25s ease-in;
                -ms-transition: all 0.25s ease-in;
                -o-transition: all 0.25s ease-in;
            }
        }
    }
    div.task-list {
        margin: 0;
        max-height: calc(100% - 72px);
        overflow-y: auto;
        &::-webkit-scrollbar {
            -webkit-appearance: none;
        }
        &::-webkit-scrollbar:vertical {
            width: 8px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: darken(#ebecf0, 15);
            border-radius: $gap;
            -webkit-border-radius: $gap;
            -moz-border-radius: $gap;
            -ms-border-radius: $gap;
            -o-border-radius: $gap;
        }
        .task-item {
            background-color: white;
            padding: $gap;
            border-radius: 3px;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            -ms-border-radius: 3px;
            -o-border-radius: 3px;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
            &:not(:last-child) {
                margin-bottom: $gap;
            }
            img {
                display: block;
                width: 100%;
                height: auto;
                margin-bottom: $gap;
                border-radius: 3px;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                -ms-border-radius: 3px;
                -o-border-radius: 3px;
            }
        }
    }
    // CSS of library
    .card-ghost {
        transition: transform 0.18s ease;
        transform: rotateZ(5deg);
        -webkit-transform: rotateZ(5deg);
        -moz-transform: rotateZ(5deg);
        -ms-transform: rotateZ(5deg);
        -o-transform: rotateZ(5deg);
        font-weight: bold;
    }
    .card-ghost-drop {
        transition: transform 0.18s ease-in-out;
        transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
        -moz-transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -o-transform: rotateZ(0deg);
        font-weight: bold;
    }
    .drop-preview {
        background-color: rgba(150, 150, 200, 0.1);
        border: 1px dashed #abc;
        margin: 5px;
    }
}