$navColor: rgb(8, 51, 107);
@import '../../setting.scss';
.navbar-app {
    height: $navbar-app-height;
    padding-left: 10px;
    display: flex;
    align-items: center;
    background-color: $navColor;
    font-size: 1.3rem;
}